@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";
html,
body,
#root {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
.leaflet-container {
  height: 100%;
  width: 100%;
} */

.new-issue-cell {
    background-color: #ffffff !important;
    color: #000 !important;
    font-weight: 600;
    border: 1px solid gray;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* 
.leaflet-container {
  height: 100%;
  width: 100%;
} */

.new-issue-cell {
    background-color: #ffffff !important;
    color: #000 !important;
    font-weight: 600;
    border: 1px solid gray;
}