.app {
    display: flex;
    height: 100vh;
    /* 🔥 THIS FIXES MAP */
}

.sidebar {
    width: 260px;
    background: #1f2937;
    padding: 15px;
    color: white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}